[MAIN]
ignore-paths=^.venv

[MESSAGES CONTROL]
disable=
    fixme,
    line-too-long,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    too-few-public-methods,
    wrong-import-order,
