<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>printer_keeper</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/ko/.cargo/bin/uv</string>
      <string>run</string>
      <string>-m</string>
      <string>printer_keeper</string>
    </array>
    <key>StartCalendarInterval</key>
    <array>
      <dict>
        <key>Hour</key>
        <integer>7</integer>
        <key>Minute</key>
        <integer>0</integer>
      </dict>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
      <key>SEND_TO_PRINTER</key>
      <string>1</string>
    </dict>
    <key>WorkingDirectory</key>
    <string>/Users/ko/projects/printer-keeper</string>
    <key>StandardOutPath</key>
    <string>stdout.log</string>
    <key>StandardErrorPath</key>
    <string>stderr.log</string>
  </dict>
</plist>